<% provide(:title, 'All users') %>
<h1>All users</h1>

<!-- Adding here the will_paginate method, which expects an object of class ActiveRecord::Relation -->
<%= will_paginate %>  

  <ul class="users">
      <%= render @users %>  
  </ul>

<%= will_paginate %>